
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: rgb(15, 15, 21); /*цвет задн фона*/
    font-size: 12px;
}

.page {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.container { /*контейнер помогает нам выстроить левую и правую часть сайта*/
    flex: 1;
    max-width: none;            /* важно! */
    display: flex;
    align-items: flex-start;
}

.logo {
    height: 75px; /*размер*/
    position: absolute;
    top: 50px;
    left: 47px;
}

.description {
    font-family: Instagram Sans Regular !important;
    font-size: 2.8vw; /*размер*/
    line-height: 65px; /*растояние между строками*/
    color: #f1f4f7;
    position: absolute;
    top: 82px;
    left: 400px; /*переход на некст строчку*/
}

.description > span {
    font-family: Instagram Sans Regular !important;
    display: block;
}

.accent {
    font-family: Instagram Sans Regular !important;
    color: #ff7a00;
}

.last {
    font-family: Instagram Sans Regular !important;
    color: #ff00a8;
    margin-left: 180px;
    margin-top: 2px; 
}

.logo-faces {
    display: flex;
    position: absolute;
    top: 325px;
    left: 270px; /*переход на некст строчку*/
    height: 600px;
}

.left {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.right{
  flex: 0 0 670px;
  min-height: 100vh;
  background-color: #0f1e24;
  border-left: 1px solid #425662;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: inset 1px 0 0 #425662;
  padding-top: 203px; 
  padding-right: 190px;
}

.card {
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 150%;
    margin-top: 24px;
}

.text {
    color: #f1f4f7;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin: 6px;
    align-self: flex-start; 
} 

.input {
    width: 100%;
    height: 60px;
    padding: 0 14px;
    font-size: 14px;
    color: #f1f4f7;
    font-weight: 700;
    background: transparent; 

    border: 1px solid #2a3b43;
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
}

.btn {
    height: 44px;
    border: none; /*бортики*/
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary{
  background: #003376;
  color: #838383;
}

.forgot {
    text-align: center; /*централизовывает*/
    font-size: 15px;
    color: #ffffff;
    margin: 0;
    margin-top: 8px;     /* чуть от кнопки */
    margin-bottom: 20px;
}

.btn.btn-white {
    margin-top: 8px;
    margin-bottom: 24px;
    background: transparent;
    border: 1px solid #2a3b43;
    color: #f1f4f7;
    font-weight: 1;
    margin-top: 15px;
}

.btn.btn-blue {
    margin-bottom: 24px;
    background: transparent;
    border: 1px solid #3b82f6;   /* синяя рамка */
    color: #3b82f6; 
    font-weight: 1;
    margin-top: -24px;
}

.meta{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;

    margin-top: -16px;   /* ← ВОТ ТУТ регулируешь “насколько близко” */
    color: #9fb0b8;
    font-size: 16px;
    font-weight: 700;
}

.image-Meta {
    height: 14px;
    width: auto;
}

.footer{
    background: transparent; 
    border-top: 1px solid #425662;
    padding: 10px 0 40px;
}

.footer-inner{
    max-width: 996px;
    margin: auto;
    color: #737373;
}

.links-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* как на оригинале (в центре) */
    gap: 6px 14px;           /* вертикаль/горизонталь */
    font-size: 12px;
    line-height: 1.4;
    margin-top: 6px;
}

.links-row a{
    margin: 0;               /* убираем твои margin-right */
    color: #8a8d91;
    white-space: nowrap; 
}

.copyright{
    font-size: 11px;
    color: #8a8d91;
}