
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    width: 100%;
    font-size: 12px;
}

.page {
    width: 100%;
}

.container { /*контейнер помогает нам выстроить левую и правую часть сайта*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    padding: 0 24px;
}

.left{
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    height: 30px; /*размер*/
    position: absolute;
    top: 20px;
    left: 31px;
}

.links {
    display: flex;
    gap: 24px;
    font-size: 15px;

    position: absolute;
    top: 27px;
    left: 90px;

    color: #24292f;
}

.links span {
  cursor: default; 
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 6px; 

    border: 1px solid #d0d7de;
    border-radius: 6px;
    padding: 6px 10px;

    background: #ffffff;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 260px;

}

.search-icon {
    font-size: 14px;
    color: #57606a;
}

.shortcut {
    font-size: 12px;
    color: #57606a;
    border: 1px solid #d0d7de;
    border-radius: 4px;
    padding: 0 6px;
}

.dashboard {
    border-radius: 6px;
    padding: 6px 10px;
    margin-right: 40px;

    font-size: 14px;
    cursor: pointer;

    background: #ffffff;
    border: 1px solid #d0d7de;
}

.divider {
    width: 1px;
    height: 24px;            
    background-color: #d0d7de;
}

.hero {
    text-align: center;
    padding: 80px 0;
}

.hero-inner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.hero h1 { 
    font-size: 56px; 
    margin: 0 0 20px; 

    font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero p { 
    font-size: 18px;
    margin: 0 0 24px; 
    color: #57606a; 
}

.black-btn {
    appearance: none;
    border: 1px solid rgba(27,31,36,0.15);
    border-radius: 8px;

    padding: 15px 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    color: #ffffff;
    background: linear-gradient(#2f353b, #24292f);
}

.pricing-wrap{
    width: min(1100px, calc(100% - 48px));
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: stretch; /* одинаковая высота */
}

.plan{
    background: #fff;
    border: 1px solid #d0d7de;
    border-radius: 16px;
    padding: 22px;
    box-shadow: 0 8px 24px rgba(140,149,159,0.2);

    display: flex;
    flex-direction: column;
    min-height: 520px; 

    box-shadow:
    0 1px 0 rgba(27,31,36,0.04),
    0 8px 24px rgba(140,149,159,0.2);
}

.plan-title{
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #24292f;
}

.plan-sub{
    margin: 10px 0 20px;
    text-align: center;
    color: #57606a;
    line-height: 1.4;
    font-size: 14px;
}

.plan-price{
    margin: 10px 0 18px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6px;
    color: #24292f;
}

.plan-price .currency { 
    font-size: 18px; 
    color:#57606a; 
}

.plan-price .amount { 
    font-size: 56px; 
    font-weight: 800; 
    letter-spacing: -1px; 
}

.plan-price .unit { 
    font-size: 18px; 
    font-weight: 800; 
}

.plan-price .per { 
    font-size: 14px; 
    color:#57606a; 
    margin-left: 6px; 
}

.plan-pill{
    width: fit-content;
    margin: 0 auto 10px;
    padding: 4px 10px;
    border: 1px solid #d0d7de;
    border-radius: 999px;
    color: #57606a;
    font-size: 12px;
}

.plan-list{
    margin: 18px 0 0;
    padding: 0;
    list-style: none;
    color: #24292f;
    font-size: 14px;
    line-height: 1.55;
}

.plan-list li{
    padding: 10px 0;
    border-top: 1px solid #d8dee4;
    color: #57606a;
}

.btn{
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    background: #fff;
}  


.btn-wide{
    width: 100%;
    margin-top: 6px;
}

.btn-outline{
    border-color: #d0d7de;
    background: #fff;
    color: #24292f;
}

.btn-outline:hover{
    background: #f6f8fa;
}

.btn-dark{
    color: #fff;
    background: linear-gradient(#2f353b, #24292f);
    border-color: rgba(27,31,36,0.15);
}

.btn-dark:hover{
    filter: brightness(1.05);
}

.plan-actions{
    display: flex;
    gap: 12px;
    margin-top: 6px;
}

.plan-recommended{
    border: 3px solid #0969da;
    padding-top: 0;
    overflow: hidden;
}

.plan-badge{
    background: #0969da;
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    margin: 0 -22px;

}

.plan-list .blue-l{
    color: #0969da;  
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.addons-inner{
    width: min(1100px, calc(100% - 48px));
    margin: 0 auto;
}

.addons-title{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 48px;
    color: #24292f;
    margin-top: 20px;
}

.addons-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.addon-card{
    background: #ffffff;
    border: 1px solid #d0d7de;
    border-radius: 16px;
    padding: 24px;
    position: relative;

    box-shadow:
    0 1px 0 rgba(27,31,36,0.04),
    0 8px 24px rgba(140,149,159,0.2);
}

.addon-card h3{
   margin: 12px 0 8px;
    font-size: 18px;
    color: #24292f;
}

.addon-card p{
    margin: 0 0 16px;
    color: #57606a;
    font-size: 14px;
    line-height: 1.5;
}

.addon-card a{
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.addon-icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.purple { 
    background: #f3e8ff; 
    color: #7c3aed; 
}

.green { 
    background: #dcfce7; 
    color: #16a34a; 
}

.blue { 
    background: #dbeafe; 
    color: #2563eb; 
}

.pink { 
    background: #fce7f3; 
    color: #db2777; 
}

.orange { 
    background: #ffedd5; 
    color: #ea580c; 
}

.yellow { 
    background: #fef9c3; 
    color: #ca8a04; 
}

.badge-new{
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #1a7f37;
    color: #1a7f37;
    border-radius: 30px;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: 600;
}

