
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: rgb(240, 242, 245); /*цвет задн фона*/
    font-size: 12px;
}

.page {
    flex: 1; 
    display: flex;
    justify-content: center; /*контейнер в центре */   
    padding-top: 167px; /*высота контейнеров*/ 
}

.container { /*контейнер помогает нам выстроить левую и правую часть сайта*/
    width: 100%;
    max-width: 980px; /* дальность между друг другом (от краев)*/
    display: flex; /*напротив друг друга*/
    align-items: flex-start;/*делает левую часть автоматической к тексту */
    gap: 60px;
}

.logo {
    height: 106px;
    margin-left: -32px; /*направление лого*/
    margin-top: 8px;
}

.description {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px; /*размер*/
    line-height: 32px; /*растояние между строками*/
    margin-left: -5px;
    margin-top: -5px;
}

.left {
    width: 580px;
    display: flex;
    flex-direction: column; /*столбиком*/
    align-items: flex-start; /*лого к краю*/
    margin-left: -2px;
}

.right{
  width: 430px; /* ширина */
  position: relative; /* позиция right */
  top: -35px;      /* поднимает вверх */
  margin-left: -27px; /* сдвигает левее */
}

.card {
    background: #fff;
    border-radius: 8px; /*округляет*/
    padding: 16px; /*централизовывает*/
    height: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1); /*тень*/
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px; /*отступ между друг другом*/
}

.input {
    padding: 14px 16px; /*высота ширина*/
    font-size: 17px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.btn {
    height: 48px;
    border: none; /*бортики*/
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary{
  background: #006eff;
  color: #fff;
}

.forgot {
    text-align: center; /*централизовывает*/
    font-size: 14px;
    color: #1877f2;
    margin-top: 4px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.divider{
  height: 1px;
  background: #dadde1;
  margin: 8px 0;
}

.btn-green{
  background: #42b72a;
  color: #fff;
  font-size: 17px;
  height: 48px;
  padding: 0 16px;
  align-self: center; /*бока в центре*/
}

.below-card {
    margin-top: 28px;
    text-align: center;
    font-size: 15px;
    color: #1c1e21;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.create-page {
    font-weight: 700;
    color: #1c1e21;
}

.footer{
  background: #fff;
  border-top: 1px solid #dddfe2;
  padding: 39px 0; /*прямоугольник*/
  border: none;
}

.footer a {
  color: #8a8d91;        
}

.footer-inner{
  max-width: 996px;
  margin: auto;
  color: #737373;
}

.lang-row{
  display: flex;
  align-items: center;
  column-gap: 10px; /* расстояние между строками */
  font-size: 12px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.lang-more{
  width: 30px;
  border: 1px solid #ccd0d5;
  cursor: pointer;
  color: #51555c;
  line-height: 18px;
  font-weight: 700;
}

.footer-line{
  height: 1px;
  background: #dddfe2;
  margin: 10px 0;
}

.links-row{
  font-size: 12px;         
  line-height: 1.5;
  margin-top: 6px;
}

.links-row a{
  display: inline-block;
  margin-right: 30px;      
  margin-bottom: 0px;      /* расстояние между строками */
  color: #8a8d91;
  white-space: normal;/*разрешаем переносы */
}

.copyright{
  margin-top: 30px;
  font-size: 11px;
  color: #737373;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}